@charset "utf-8";

/* 
--------------------------------------------------
Project: Common CSS, ECE 5.x
CSS description: 980 Grid system
Author: Jonas Nilsson, Adresseavisen
Author: Tor Brekke Skjøtskift, Media Norge 
--------------------------------------------------
Table of Contents:
01:	Basic Grid Definition
02:	Grid units with 10px padding
03:	Grid units with 20px padding

06: TEST: Padded subdivisions

10:	Main structure containers
11: Main class library
--------------------------------------------------
*/

/* 01 | Basic Grid Definition */

.gridLine {
	clear:both;
}

.gridLine .gridUnit {
	float: left;
	margin: 0 0 0 20px;
}

.gridUnit:first-child {
	margin: 0px;
}

.span1 {
	width: 80px;
}

.span2 {
	width: 180px;
}

.span3 {
	width: 280px;
}

.span4 {
	width: 380px;
}

.span5 {
	width: 480px;
}

.span6 {
	width: 580px;
}

.span7 {
	width: 680px;
}

.span8 {
	width: 780px;
}

.span9 {
	width: 880px;
}

.span10 {
	width: 980px;
}

.split2 {
	width: 480px;	
}

.split3 {
	width: 313px; /* Mangler 1 px */
}

.split4 {
	width: 230px;	
}

.split5 {
	width: 180px;	
}

/* 02 | Grid units with 10px padding */

.padded10 {
	padding: 10px;
}

.padded10 .gridUnit {
	margin: 0 0 0 10px;
}

.padded10 .gridUnit:first-child {
	margin: 0;
}

.padded10.span1 {
	width: 60px;
}

.padded10.span2 {
	width: 160px;
}

.padded10.span3 {
	width: 260px;
}

.padded10.span4 {
	width: 360px;
}

.padded10.span5 {
	width: 460px;
}

.padded10.span6 {
	width: 560px;
}

.padded10.span7 {
	width: 660px;
}

.padded10.span8 {
	width: 760px;
}

.padded10.span9 {
	width: 860px;
}

.padded10.span10 {
	width: 960px;
}

.padded10.split2 {
	width: 460px;	
}

.padded10.split3 {
	width: 293px; /* Mangler 1 px */
}

.padded10.split4 {
	width: 210px;	
}

.padded10.split5 {
	width: 160px;	
}

/* 03 | Grid units with 20px padding */

.padded20 {
	padding: 20px;
}

.padded20 .gridUnit {
	margin: 0 0 0 20px;
}

.padded20 .gridUnit:first-child {
	margin: 0;
}

.padded20.span1 {
	width: 40px;
}

.padded20.span2 {
	width: 140px;
}

.padded20.span3 {
	width: 240px;
}

.padded20.span4 {
	width: 340px;
}

.padded20.span5 {
	width: 440px;
}

.padded20.span6 {
	width: 540px;
}

.padded20.span7 {
	width: 640px;
}

.padded20.span8 {
	width: 740px;
}

.padded20.span9 {
	width: 840px;
}

.padded20.span10 {
	width: 940px;
}

.padded20.split2 {
	width: 440px;	
}

.padded20.split3 {
	width: 273px; /* Mangler 1 px */
}

.padded20.split4 {
	width: 190px;	
}

.padded20.split5 {
	width: 140px;	
}


/* 06 | TEST: Padded Subdivisions */

/* Padded 10 og 20 definert lenger opp i fila redefinerer gridUnits. */
/* Fint når man f.eks skal ha padding og svart bakgrunn på en nyhetssak man mangler bilde */

/* Prøver her å redefinere grid'en når man padder en hel rad */
/* Tar i første omgang kun mulige subdivisions. 5 mulige innenfor en femmerspan */
/* Padded20 går ikke opp i 0 på subdivisions innenfor spans 9, 7, 6 og 3 */
/* Padded10 går ikke opp i 0 på subdivisions innenfor spans 9, 8, 7 og 4 */
/* Kan løses med å justere gutters eller margins til 19 eller 18. Vil ikke synes visuelt */
/* Slenger med split-definisjoner i samme regla. Her blir det en individuell "mangler" pr rad */

/* padded20 innenfor span10 */
.span10 .padded20 .span1 { width: 76px }
.span10 .padded20 .span2 { width: 172px }
.span10 .padded20 .span3 { width: 268px }
.span10 .padded20 .span4 { width: 364px }
.span10 .padded20 .span5 { width: 460px }
.span10 .padded20 .span6 { width: 556px }
.span10 .padded20 .span7 { width: 652px }
.span10 .padded20 .span8 { width: 748px }
.span10 .padded20 .span9 { width: 844px }
.span10 .padded20 .span10 { width: 940px }

.span10 .padded20 .split2 { width: 460px }
.span10 .padded20 .split3 { width: 300px }
.span10 .padded20 .split4 { width: 220px }
.span10 .padded20 .split5 { width: 172px }

/* padded20 innenfor span9. Mangler 5px */
.span9 .padded20 .span1 { width: 75px }
.span9 .padded20 .span2 { width: 170px }
.span9 .padded20 .span3 { width: 265px }
.span9 .padded20 .span4 { width: 360px }
.span9 .padded20 .span5 { width: 455px }
.span9 .padded20 .span6 { width: 550px }
.span9 .padded20 .span7 { width: 645px }
.span9 .padded20 .span8 { width: 740px }
.span9 .padded20 .span9 { width: 835px }

.span9 .padded20 .split2 { width: 410px }
.span9 .padded20 .split3 { width: 266px } /* Mangler 2px */ 
.span9 .padded20 .split4 { width: 195px }
.span9 .padded20 .split5 { width: 152px }

/* padded20 innenfor span8 */
.span8 .padded20 .span1 { width: 75px }
.span8 .padded20 .span2 { width: 170px }
.span8 .padded20 .span3 { width: 265px }
.span8 .padded20 .span4 { width: 360px }
.span8 .padded20 .span5 { width: 455px }
.span8 .padded20 .span6 { width: 550px }
.span8 .padded20 .span7 { width: 645px }
.span8 .padded20 .span8 { width: 740px }

.span8 .padded20 .split2 { width: 360px }
.span8 .padded20 .split3 { width: 233px } /* Mangler 1px */ 
.span8 .padded20 .split4 { width: 170px }
.span8 .padded20 .split5 { width: 132px }

/* padded20 innenfor span7. Mangler 2px */
.span7 .padded20 .span1 { width: 74px }
.span7 .padded20 .span2 { width: 168px }
.span7 .padded20 .span3 { width: 262px }
.span7 .padded20 .span4 { width: 356px }
.span7 .padded20 .span5 { width: 450px }
.span7 .padded20 .span6 { width: 544px }
.span7 .padded20 .span7 { width: 638px }

.span7 .padded20 .split2 { width: 310px }
.span7 .padded20 .split3 { width: 200px }
.span7 .padded20 .split4 { width: 145px }
.span7 .padded20 .split5 { width: 112px }

/* padded20 innenfor span6. Mangler 2px */
.span6 .padded20 .span1 { width: 73px }
.span6 .padded20 .span2 { width: 166px }
.span6 .padded20 .span3 { width: 259px }
.span6 .padded20 .span4 { width: 352px }
.span6 .padded20 .span5 { width: 445px }
.span6 .padded20 .span6 { width: 538px }

.span6 .padded20 .split2 { width: 260px }
.span6 .padded20 .split3 { width: 166px } /* Mangler 2px */ 
.span6 .padded20 .split4 { width: 120px }
.span6 .padded20 .split5 { width: 92px }

/* padded20 innenfor span5 */
.span5 .padded20 .span1 { width: 72px }
.span5 .padded20 .span2 { width: 164px }
.span5 .padded20 .span3 { width: 256px }
.span5 .padded20 .span4 { width: 348px }
.span5 .padded20 .span5 { width: 440px }

.span5 .padded20 .split2 { width: 210px }
.span5 .padded20 .split3 { width: 133px } /* Mangler 1px */ 
.span5 .padded20 .split4 { width: 95px }
.span5 .padded20 .split5 { width: 72px }

/* padded20 innenfor span4 */
.span4 .padded20 .span1 { width: 70px }
.span4 .padded20 .span2 { width: 160px }
.span4 .padded20 .span3 { width: 250px }
.span4 .padded20 .span4 { width: 340px }

.span4 .padded20 .split2 { width: 160px }
.span4 .padded20 .split3 { width: 100px }
.span4 .padded20 .split4 { width: 70px }
.span4 .padded20 .split5 { width: 52px }

/* padded20 innenfor span3. Mangler 2px */
.span3 .padded20 .span1 { width: 66px }
.span3 .padded20 .span2 { width: 152px }
.span3 .padded20 .span3 { width: 238px }

.span3 .padded20 .split2 { width: 110px }
.span3 .padded20 .split3 { width: 66px } /* Mangler 2px */
.span3 .padded20 .split4 { width: 45px }
.span3 .padded20 .split5 { width: 32px }

/* padded20 innenfor span2 */
.span2 .padded20 .span1 { width: 60px }
.span2 .padded20 .span2 { width: 140px }

.span2 .padded20 .split2 { width: 60px }
.span2 .padded20 .split3 { width: 33px } /* Mangler 1px */
.span2 .padded20 .split4 { width: 20px }
.span2 .padded20 .split5 { width: 12px } 

/* padded10 innenfor span10 */
.span10 .padded10 .span1 { width: 87px }
.span10 .padded10 .span2 { width: 184px }
.span10 .padded10 .span3 { width: 281px }
.span10 .padded10 .span4 { width: 378px }
.span10 .padded10 .span5 { width: 475px }
.span10 .padded10 .span6 { width: 572px }
.span10 .padded10 .span7 { width: 669px }
.span10 .padded10 .span8 { width: 766px }
.span10 .padded10 .span9 { width: 863px }
.span10 .padded10 .span10 { width: 960px }

.span10 .padded10 .split2 { width: 475px }
.span10 .padded10 .split3 { width: 313px } /* Mangler 1px */ 
.span10 .padded10 .split4 { width: 232px } /* Mangler 2px */ 
.span10 .padded10 .split5 { width: 184px }

/* padded10 innenfor span9. Mangler 6px */
.span9 .padded10 .span1 { width: 86px }
.span9 .padded10 .span2 { width: 182px }
.span9 .padded10 .span3 { width: 278px }
.span9 .padded10 .span4 { width: 374px }
.span9 .padded10 .span5 { width: 470px }
.span9 .padded10 .span6 { width: 566px }
.span9 .padded10 .span7 { width: 662px }
.span9 .padded10 .span8 { width: 758px }
.span9 .padded10 .span9 { width: 854px }

.span9 .padded10 .split2 { width: 425px }
.span9 .padded10 .split3 { width: 280px }
.span9 .padded10 .split4 { width: 207px } /* Mangler 2px */ 
.span9 .padded10 .split5 { width: 164px }

/* padded10 innenfor span8. Mangler 2px */
.span8 .padded10 .span1 { width: 86px }
.span8 .padded10 .span2 { width: 182px }
.span8 .padded10 .span3 { width: 278px }
.span8 .padded10 .span4 { width: 374px }
.span8 .padded10 .span5 { width: 470px }
.span8 .padded10 .span6 { width: 566px }
.span8 .padded10 .span7 { width: 662px }
.span8 .padded10 .span8 { width: 758px }

.span8 .padded10 .split2 { width: 375px }
.span8 .padded10 .split3 { width: 246px } /* Mangler 2px */
.span8 .padded10 .split4 { width: 182px } /* Mangler 2px */
.span8 .padded10 .split5 { width: 144px }

/* padded10 innenfor span7. Mangler 5px */
.span7 .padded10 .span1 { width: 85px }
.span7 .padded10 .span2 { width: 180px }
.span7 .padded10 .span3 { width: 275px }
.span7 .padded10 .span4 { width: 370px }
.span7 .padded10 .span5 { width: 465px }
.span7 .padded10 .span6 { width: 560px }
.span7 .padded10 .span7 { width: 655px }

.span7 .padded10 .split2 { width: 325px }
.span7 .padded10 .split3 { width: 213px } /* Mangler 1px */
.span7 .padded10 .split4 { width: 157px } /* Mangler 2px */
.span7 .padded10 .split5 { width: 124px }

/* padded10 innenfor span6 */
.span6 .padded10 .span1 { width: 85px }
.span6 .padded10 .span2 { width: 180px }
.span6 .padded10 .span3 { width: 275px }
.span6 .padded10 .span4 { width: 370px }
.span6 .padded10 .span5 { width: 465px }
.span6 .padded10 .span6 { width: 560px }

.span6 .padded10 .split2 { width: 275px }
.span6 .padded10 .split3 { width: 180px }
.span6 .padded10 .split4 { width: 132px } /* Mangler 2px */
.span6 .padded10 .split5 { width: 104px }

/* padded10 innenfor span5 */
.span5 .padded10 .span1 { width: 84px }
.span5 .padded10 .span2 { width: 178px }
.span5 .padded10 .span3 { width: 272px }
.span5 .padded10 .span4 { width: 366px }
.span5 .padded10 .span5 { width: 460px }

.span5 .padded10 .split2 { width: 225px }
.span5 .padded10 .split3 { width: 146px } /* Mangler 2px */
.span5 .padded10 .split4 { width: 107px } /* Mangler 2px */
.span5 .padded10 .split5 { width: 84px }

/* padded10 innenfor span4. Mangler 2px */
.span4 .padded10 .span1 { width: 82px }
.span4 .padded10 .span2 { width: 174px }
.span4 .padded10 .span3 { width: 266px }
.span4 .padded10 .span4 { width: 358px }

.span4 .padded10 .split2 { width: 175px }
.span4 .padded10 .split3 { width: 113px } /* Mangler 1px */
.span4 .padded10 .split4 { width: 82px } /* Mangler 2px */
.span4 .padded10 .split5 { width: 64px }

/* padded10 innenfor span3 */
.span3 .padded10 .span1 { width: 80px }
.span3 .padded10 .span2 { width: 170px }
.span3 .padded10 .span3 { width: 260px }

.span3 .padded10 .split2 { width: 125px }
.span3 .padded10 .split3 { width: 80px }
.span3 .padded10 .split4 { width: 57px } /* Mangler 2px */
.span3 .padded10 .split5 { width: 44px }

/* padded10 innenfor span2 */
.span2 .padded10 .span1 { width: 75px }
.span2 .padded10 .span2 { width: 160px }

.span2 .padded10 .split2 { width: 75px }
.span2 .padded10 .split3 { width: 46px } /* Mangler 2px */
.span2 .padded10 .split4 { width: 32px } /* Mangler 2px */
.span2 .padded10 .split5 { width: 24px }





/* 10 | Main structure containers */

/* Setter tallet 10 har bare for å ha noe å gå på, hehe */
/* Her kan vi ha de definerte hovedområdene liggende. */
/* Kommer til å bli brukt på alt vi lager uansett, så greit å ha grunndefinisjonen et sted */
/* Dagens #viewportAds heter #outer i ECE5x. Et bedre navn spør du meg, da det kan inneholde mer enn bare reklame */

#viewport {
	overflow: hidden;
	position: absolute;
		left: 0px;
		right: 0px;
		top: 0px;
	width: 100%;
		min-width: 1000px;
}

#page {
	clear: both;
	margin: 0px auto;
	padding: 20px 0;
	width: 980px;
	z-index: 100;
}

#header {
}

#content {
}

#footer {
}

/* 11 | Main class library */

/* Her kan vi sette inn properties vi bruker ofte som vi kan kalle med et klassenavn */
/* Clear, floating, popping etc. Se igjennom. */
/* Slenger på #page forran klassenavn for å vekte litt høyere. Kan fjernes, men kan vises seg å være lurt. */

#page .clearfix {
	clear: both;
	height: 0px;
	overflow: hidden;
	position: relative;
}

#page .floatLeft {
	float: left;
}

#page .floatRight {
	float:right;
}

#page .noFloat {
	float:none;
	margin: 0px;
	position: static;
}

#page .negativeLeft {
	margin: 0 0 0 -20px;
	
}

#page .negativeTopLeft {
	margin: -20px 0 0 -20px;
	position: relative;
}

#page .negativeTop {
	margin: -20px 0 0 0;
	position: relative;
}

#page .negativeTopRight {
	margin: -20px -20px 0 0;
	position: relative;
}

#page .negativeRight {
	margin: 0 -20px 0 0;
	position: relative;
}

#page .negativeBottomRight {
	margin: 0 -20px -20px 0;
	position: relative;
}

#page .negativeBottom {
	margin: 0 0 -20px 0;
	position: relative;
}

#page .negativeBottomLeft {
	margin: 0 -20px 0 -20px;
	position: relative;
}

#page .negativeAll {
	margin: -20px;
	position: relative;
}

#page .isParent {
	margin: 0;
}

















/* Jonas tester masse greier. Move along :) */


/* Test med padded20 som deler inni en span6  */

.span6 .x1x1.padded20 .span1 {
	width: 260px;
}

.span6 .x1x1x1.padded20 .span1 {
	width: 166px;
}

.span6 .x1x1x1x1.padded20 .span1 {
	width: 120px;
}

.span6 .x1x1x1x1x1.padded20 .span1 {
	width: 92px;
}

/* Test med padded10 som deler inni en span4  */

.span4 .x1x1x1.padded10 .span1 {
	width: 113px;
}

/* Test med padded20 som deler inni en span4  */

.span4 .x1x1x1.padded20 .span1,
.span4.padded20 .x1x1x1 .span1 {
	width: 100px;
}

/* Test med padded20 som deler inni en span10  */

.span10 .x1x1x1x1x1x1x1x1.padded20 .span1 {
	width: 100px;
}

.span10 .x1x1x1x1x1x1x1.padded20 .span1 {
	width: 117px;
}

.span10 .x1x1x1x1x1x1.padded20 .span1 {
	width: 140px;
}

.span10 .x1x1x1x1x1.padded20 .span1 {
	width: 172px;
}

/* Test med padded20 som deler inni en span4  */

.span4.padded20 .x1x1x1 .span1 {
	width: 100px;
}




/* TEST */

.coderManWithIndenting {
	background-image: url(GitHub/nyhetsgrid/test.jpg);
		background-attachment: fixed;
		background-repeat: no-repeat;
	clear: both;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
		font-size: 13px;
		line-height: 18px;
		font-weight: bold;
	position: relative;
		top: 20px;
		left: 400px;
	width: 200px;
		min-width: 180px;
		height: auto;
}
